cargo-features = ["edition2024"]

[package]
name = "rust_protobuf"
version = "0.1.0"
edition = "2024"

[dependencies]
anyhow = "1.0.100"
protobuf = "3.7.2"
protobuf-parser = "0.1.3"

[profile.dev]
panic = 'abort'

[profile.release]
panic = 'abort'
